@model BusinessAutomation_Project.Models.Entity.Invoice
<br />
<h3>Fatura Ekleme Sayfası</h3>
<br />
<form class="form-group" method="post">
    <label>Seri No</label>
    @Html.TextBoxFor(x => x.SerialNo, new { @class = "form-control" })
    <br />
    <label>Sıra No</label>
    @Html.TextBoxFor(x => x.RotationNo, new { @class = "form-control" })
    <br />
    <label>Tarih</label>
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    <label>Saat</label>
    @Html.TextBoxFor(x => x.Time, new { @class = "form-control" })
    <br />
    <label>Vergi Dairesi</label>
    @Html.TextBoxFor(x => x.TaxOffice, new { @class = "form-control" })
    <br />
    <label>Teslim Eden</label>
    @Html.TextBoxFor(x => x.Deliverer, new { @class = "form-control" })
    <br />
    <label>Teslim Alan</label>
    @Html.TextBoxFor(x => x.Recipient, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>